<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name= "format-detection" content="telephone = no" />
    <title>{block name="title"}{:config('app_name')}{/block}</title>
    <meta name="keywords" content="{block name='meta_key'}{:widget('Component/getSysSetting',['type'=>'other','field'=>'meta_key'])}{/block}" />
    <meta name="description" content="{block name='meta_desc'}{:widget('Component/getSysSetting',['type'=>'other','field'=>'meta_desc'])}{/block}" />
    <link rel="stylesheet" type="text/css" href="/assets/m/css/style.css" />
    <script type="text/javascript" src="/assets/m/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/m/js/common.js"></script>
    <meta name="author" content="深圳市深正互联网络有限公司"/>
</head>

<body>
{block name="style"}{/block}

{block name="content"}{/block}

</body>
</html>

{block name="script"}{/block}