{extend name="base" /}
{block name="content"}

{:widget('Component/header',['act_menu'=>'product/index'])}
<div class="nybanner">
	<div class="det_img w1200 clearfix">
		<div class="text">
			<h2>{$model['name']}</h2>
			<p>{$model['desc']}</p>
		</div>
		<div class="img"><img src="{$model['det_img']}"></div>
	</div>
</div>

<div class="main">
	<div class="inside_top w1200">
		<div class="title wow fadeInUp">
			<h2>产品中心<span>PRODUCTS</span></h2>
		</div>
		<div class="column clearfix wow fadeInUp">
			<ul>
				{volist name="cate['link_child']" id="vo"}
				<li class="{:$vo['id']==$current_cate['id']?'cur':''}"><a href="{:url('product/index',['cid'=>$vo['id']])}">{$vo['name']}</a></li>
				{/volist}
			</ul>
			<div class="bread_crumbs">
				<p>您当前的位置：<a href="{:url('index/index')}">首页</a>
					<span>&gt;</span><a href="{:url('product/index')}">{$cate['name']}</a>
					{if(!empty($current_cate))}
					<span>&gt;</span><a href="{:url('product/index',['cid'=>$current_cate['id']])}">{$current_cate['name']}</a>
					{/if}
				</p>
			</div>
		</div>
	</div>
	<div class="products_det w1200">
		<div class="product_content wow fadeInUp">
			{:htmlspecialchars_decode($model['content'])}
		</div>
		<div>
			<br/>
			<br/>
		</div>
		<div class="product_file wow fadeInUp">
			<div class="title">附加文件</div>
			<!--<div class="text">-->
				<!--<img src="/assets/index/images/pro07.png">-->
				<!--<a href="{$model['file']}" target="_blank">查看</a>-->
			<!--</div>-->
			{if(!empty($model['file']))}
			<div class="button"><a href="javascript:;" class="opt-down" data-file="{$model['file']}"><img src="/assets/index/images/pro07.png"></a></div>
			{else/}
			没有附加文件
			{/if}
		</div>
		<div class="related_products">
			<div class="title"><h2>相关产品</h2></div>
			<ul class="clearfix">
				{volist name="up_list" id="vo"}
				<li>
					<a href="{:url('product/detail',['id'=>$vo['id']])}">
						<div class="img"><img src="{$vo['img']}"></div>
						<div class="name">{$vo['name']}<span>&gt;</span></div>
					</a>
				</li>
				{/volist}
			</ul>
		</div>
	</div>
</div>
{:widget('Component/footer')}
{/block}

{block name="script"}
<script>
	if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
		new WOW().init();
	};
</script>

<script>
    $(function(){
        $(".opt-down").click(function(){
            var $this = $(this)
            var file = $(this).data('file');
            $.get("{:url('recordTimes')}",{id:$(this).data('id')},function(result){
                $this.parent().prev().text($this.parent().prev().text()-0+1)
                window.open(file);
            })
        })
    })
</script>
{/block}