{extend name="base" /}
{block name="content"}

{:widget('Component/header',['act_menu'=>'index'])}
	<div class="banner">
		<div class="bd">
			<ul>
				<li><img src="/assets/index/images/banner.jpg"></li>
				<li><img src="/assets/index/images/banner.jpg"></li>
				<li><img src="/assets/index/images/banner.jpg"></li>
			</ul>
		</div>
		<div class="hd"><ul></ul></div>
	</div>
	
	<div class="main">
		<div class="index_num">
			<ul class="w1200 clearfix">
				<li>
					<div class="num"><span>100</span><em>+</em></div>
					<p>产品/组</p>
				</li>
				<li>
					<div class="num"><span>1000</span><em>+</em></div>
					<p>案例/款</p>
				</li>
				<li>
					<div class="num"><span>8</span><em>+</em></div>
					<p>经验/年</p>
				</li>
				<li>
					<div class="num"><span>500</span><em>+</em></div>
					<p>合作伙伴</p>
				</li>
			</ul>
		</div>
		<div class="index_pro">
			<div class="pro_title w1200">
				<h2>安全、稳定、可信赖的工业物联网产品</h2>
				<p>致力工业物联网生态闭环，具备高兼容性和柔性适配能力，能够完美支撑个性扩展应用</p>
			</div>
			<div class="pro_list w1200 clearfix">
				<div class="hd wow fadeInLeft">
					<ul>
						<li>
							<div class="title">
								<h2>中央空调网关</h2>
								<p>产品型号齐全</p>
							</div>
						</li>
						<li>
							<div class="title">
								<h2>冷水机组网关</h2>
								<p>产品型号齐全</p>
							</div>
						</li>
						<li>
							<div class="title">
								<h2>精密空调网关</h2>
								<p>产品型号齐全</p>
							</div>
						</li>
						<li>
							<div class="title">
								<h2>仪器仪表采集器</h2>
								<p>产品型号齐全</p>

							</div>
						</li>
					</ul>
				</div>
				<div class="bd wow fadeInRight">
					<div class="conWrap">
						<div class="con">
							<p><img src="images/pro.jpg"></p>
							<h2>空调室外机网关</h2>
							<p>提供开关/温度/模式/风扇/温度/故障状态/故障代码/空调在线状态,控制线路最短，合理可靠.保留VRV空调原有特性，一个面板可连控多台室内机。保留VRV空调原有特性，一个面板可连控多台室内机空调集中控制,定时开启空调，分户计量等功能</p>
							<a href="products.html">查看详情</a>
						</div>
						<div class="con">
							<p><img src="images/pro.jpg"></p>
							<h2>冷水机组网关</h2>
							<p>提供开关/温度/模式/风扇/温度/故障状态/故障代码/空调在线状态,控制线路最短，合理可靠.保留VRV空调原有特性，一个面板可连控多台室内机。保留VRV空调原有特性，一个面板可连控多台室内机空调集中控制,定时开启空调，分户计量等功能</p>
							<a href="products.html">查看详情</a>
						</div>
						<div class="con">
							<p><img src="images/pro.jpg"></p>
							<h2>精密空调网关</h2>
							<p>提供开关/温度/模式/风扇/温度/故障状态/故障代码/空调在线状态,控制线路最短，合理可靠.保留VRV空调原有特性，一个面板可连控多台室内机。保留VRV空调原有特性，一个面板可连控多台室内机空调集中控制,定时开启空调，分户计量等功能</p>
							<a href="products.html">查看详情</a>
						</div>
						<div class="con">
							<p><img src="images/pro.jpg"></p>
							<h2>仪器仪表采集器</h2>
							<p>提供开关/温度/模式/风扇/温度/故障状态/故障代码/空调在线状态,控制线路最短，合理可靠.保留VRV空调原有特性，一个面板可连控多台室内机。保留VRV空调原有特性，一个面板可连控多台室内机空调集中控制,定时开启空调，分户计量等功能</p>
							<a href="products.html">查看详情</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="index_case w1200">
			<div class="index_title">
				<h2>成功案例</h2>
				<p>针对不同的业务需求和应用场景，华新智控为各类企业提供更专业的工业物联网解决方案</p>
			</div>
			<div class="case_left">
				<div class="bd">
					<ul class="picList">
						<li>
							<a href="case_det.html">
								<div class="img"><img src="images/case01.jpg"></div>
								<div class="title">案例名称</div>
							</a>
						</li>
						<li>
							<a href="case_det.html">
								<div class="img"><img src="images/case02.jpg"></div>
								<div class="title">案例名称</div>
							</a>
						</li>
						<li>
							<a href="case_det.html">
								<div class="img"><img src="images/case03.jpg"></div>
								<div class="title">案例名称</div>
							</a>
						</li>
						<li>
							<a href="case_det.html">
								<div class="img"><img src="images/case04.jpg"></div>
								<div class="title">案例名称</div>
							</a>
						</li><li>
							<a href="case_det.html">
								<div class="img"><img src="images/case01.jpg"></div>
								<div class="title">案例名称</div>
							</a>
						</li>
						<li>
							<a href="case_det.html">
								<div class="img"><img src="images/case01.jpg"></div>
								<div class="title">案例名称</div>
							</a>
						</li>
						<li>
							<a href="case_det.html">
								<div class="img"><img src="images/case01.jpg"></div>
								<div class="title">案例名称</div>
							</a>
						</li>
						<li>
							<a href="case_det.html">
								<div class="img"><img src="images/case04.jpg"></div>
								<div class="title">案例名称</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="hd">
					<ul></ul>
				</div>
			</div>
		</div>
		<div class="index_solution">
			<div class="index_title w1200">
				<h2>解决方案</h2>
				<p>针对不同的业务需求和应用场景，华新智控为各类企业提供更专业的工业物联网解决方案</p>
			</div>
			<div class="case_tabs">
				<div class="hd w1200">
					<ul class="clearfix">
						<li>
							<i class="icon"><img src="images/icon03.png"></i>
							<i class="icon2"><img src="images/icon03-1.png"></i>
							<p>中央空调网关</p>
						</li>
						<li>
							<i class="icon"><img src="images/icon04.png"></i>
							<i class="icon2"><img src="images/icon04-1.png"></i>
							<p>冷水机组网关</p>
						</li>
						<li>
							<i class="icon"><img src="images/icon05.png"></i>
							<i class="icon2"><img src="images/icon05-1.png"></i>
							<p>精密空调网关</p>
						</li>
						<li>
							<i class="icon"><img src="images/icon06.png"></i>
							<i class="icon2"><img src="images/icon06-1.png"></i>
							<p>AI节能控制器</p>
						</li>
						<li>
							<i class="icon"><img src="images/icon03.png"></i>
							<i class="icon2"><img src="images/icon03-1.png"></i>
							<p>中央空调网关</p>
						</li>
						<li>
							<i class="icon"><img src="images/icon04.png"></i>
							<i class="icon2"><img src="images/icon04-1.png"></i>
							<p>冷水机组网关</p>
						</li>
						<li>
							<i class="icon"><img src="images/icon05.png"></i>
							<i class="icon2"><img src="images/icon05-1.png"></i>
							<p>精密空调网关</p>
						</li>
					</ul>
				</div>
				<div class="bd">
					<div class="conWrap">
						<div class="con">
							<div class="img" style="background-image:url(images/bg02.jpg);"></div>
							<div class="content">
								<div class="text w1200">
									<h2>中央空调网关解决方案</h2>
									<p>针对高档写字楼、办公楼等底层高的高层建筑，一般大厦都要求实行统一运营、集中管理、中央式控制、室内要求隐形安装、与装修完美配合、外观美观。</p>
									<a href="solution.html">了解更多</a>
								</div>
							</div>
						</div>
						<div class="con">
							<div class="img" style="background-image:url(images/bg02.jpg);"></div>
							<div class="content">
								<div class="text w1200">
									<h2>冷水机组网关解决方案</h2>
									<p>针对高档写字楼、办公楼等底层高的高层建筑，一般大厦都要求实行统一运营、集中管理、中央式控制、室内要求隐形安装、与装修完美配合、外观美观。</p>
									<a href="solution.html">了解更多</a>
								</div>
							</div>
						</div>
						<div class="con">
							<div class="img" style="background-image:url(images/bg02.jpg);"></div>
							<div class="content">
								<div class="text w1200">
									<h2>AI节能控制器解决方案</h2>
									<p>针对高档写字楼、办公楼等底层高的高层建筑，一般大厦都要求实行统一运营、集中管理、中央式控制、室内要求隐形安装、与装修完美配合、外观美观。</p>
									<a href="solution.html">了解更多</a>
								</div>
							</div>
						</div>
						<div class="con">
							<div class="img" style="background-image:url(images/bg02.jpg);"></div>
							<div class="content">
								<div class="text w1200">
									<h2>中央空调网关解决方案</h2>
									<p>针对高档写字楼、办公楼等底层高的高层建筑，一般大厦都要求实行统一运营、集中管理、中央式控制、室内要求隐形安装、与装修完美配合、外观美观。</p>
									<a href="solution.html">了解更多</a>
								</div>
							</div>
						</div>
						<div class="con">
							<div class="img" style="background-image:url(images/bg02.jpg);"></div>
							<div class="content">
								<div class="text w1200">
									<h2>冷水机组网关解决方案</h2>
									<p>针对高档写字楼、办公楼等底层高的高层建筑，一般大厦都要求实行统一运营、集中管理、中央式控制、室内要求隐形安装、与装修完美配合、外观美观。</p>
									<a href="solution.html">了解更多</a>
								</div>
							</div>
						</div>
						<div class="con">
							<div class="img" style="background-image:url(images/bg02.jpg);"></div>
							<div class="content">
								<div class="text w1200">
									<h2>AI节能控制器解决方案</h2>
									<p>针对高档写字楼、办公楼等底层高的高层建筑，一般大厦都要求实行统一运营、集中管理、中央式控制、室内要求隐形安装、与装修完美配合、外观美观。</p>
									<a href="solution.html">了解更多</a>
								</div>
							</div>
						</div>
						<div class="con">
							<div class="img" style="background-image:url(images/bg02.jpg);"></div>
							<div class="content">
								<div class="text w1200">
									<h2>中央空调网关解决方案</h2>
									<p>针对高档写字楼、办公楼等底层高的高层建筑，一般大厦都要求实行统一运营、集中管理、中央式控制、室内要求隐形安装、与装修完美配合、外观美观。</p>
									<a href="solution.html">了解更多</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="index_news">
			<div class="index_title w1200">
				<h2>新闻资讯</h2>
				<p>致力工业物联网生态闭环，具备高兼容性和柔性适配能力，能够完美支撑个性扩展应用</p>
			</div>
			<div class="news_tabs w1200">
				<div class="hd">
					<ul>
						<li>公司新闻</li>
						<li>行业资讯</li>
					</ul>
				</div>
				<div class="bd">
					<div class="conWrap">
						<div class="con">
							<ul class="clearfix">
								<li>
									<a href="news_det.html">
										<div class="img"><img src="images/news01.jpg"></div>
										<div class="title">
											<h2>寒潮来袭，煤价或迎来一波小规模的价格上</h2>
											<p>时间：2019-06-28</p>
										</div>
										<div class="text">
											<p>寒潮来袭，煤价或迎来一波小规模的价格上寒潮来袭，煤价或迎来一波小规模的价格上寒潮来袭，煤价或迎来一波小规模的价格上</p>
											<h3>查看详情</h3>
										</div>
									</a>
								</li>
								<li>
									<a href="news_det.html">
										<div class="img"><img src="images/news02.jpg"></div>
										<div class="title">
											<h2>寒潮来袭，煤价或迎来一波小规模的价格上</h2>
											<p>时间：2019-06-28</p>
										</div>
										<div class="text">
											<p>寒潮来袭，煤价或迎来一波小规模的价格上寒潮来袭，煤价或迎来一波小规模的价格上寒潮来袭，煤价或迎来一波小规模的价格上</p>
											<h3>查看详情</h3>
										</div>
									</a>
								</li>
								<li>
									<a href="news_det.html">
										<div class="img"><img src="images/news01.jpg"></div>
										<div class="title">
											<h2>寒潮来袭，煤价或迎来一波小规模的价格上</h2>
											<p>时间：2019-06-28</p>
										</div>
										<div class="text">
											<p>寒潮来袭，煤价或迎来一波小规模的价格上寒潮来袭，煤价或迎来一波小规模的价格上寒潮来袭，煤价或迎来一波小规模的价格上</p>
											<h3>查看详情</h3>
										</div>
									</a>
								</li>
							</ul>
						</div>
						<div class="con">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="index_about">
			<div class="w1200">
				<dl>
					<dt>深圳市华新网络能源有限公司</dt>
					<dd>
						<p>深圳市华新网络能源有限公司，成立于2014年，是一家集设备能源管控平台、暖通空调自控、工业设备互联、工
						<p>厂智能等解决方案设计、工程实施、运营管理于一体的综合节能服务商。深圳华新主要业务范围及服务领域包括设备能源管控系统、工业装备互联</p>
						<p>网接入设备的产品设计开发及智慧工厂解决方案</p> 
						</p>
					</dd>
				</dl>
				<ul class="clearfix">
					<li>
						<div class="num"><span>2014</span><em>年</em></div>
						<p>创建于</p>
					</li>
					<li>
						<div class="num"><span>3000</span><em>家</em></div>
						<p>服务客户</p>
					</li>
					<li>
						<div class="num"><span>99</span><em>%</em></div>
						<p>好评度</p>
					</li>
					<li>
						<div class="num"><span>5</span><em>年</em></div>
						<p>行业经验</p>
					</li>
				</ul>
				<a href="about.html">了解华新智控 &gt;</a>
			</div>
		</div>
	</div>

{:widget('Component/footer',['act_menu'=>'index'])}

{/block}

{block name="script"}
	<!-- 导航 -->
	<script type="text/javascript">
		var ind = 0; //初始位置
		var nav= jQuery(".nav");
		var init = jQuery(".nav .nLi").eq(ind);
		jQuery("#nav").slide({ 
			type:"menu",
			titCell:".nLi", 
			targetCell:".sub", 
			effect:"slideDown",
			delayTime:300 ,
			triggerTime:0, 
			returnDefault:true,
			defaultIndex:ind
		});	
	</script>

	<script type="text/javascript">
		/* banner切换 */
		jQuery(".banner").slide({ titCell:".hd ul", mainCell:".bd ul", effect:"fold",  autoPlay:true, autoPage:true, trigger:"click",
		});

		/*产品多页签*/
		jQuery(".pro_list").slide({ mainCell:".conWrap", targetCell:".more a", effect:"fold",trigger:"click"});

		/*方案多页签*/
		jQuery(".case_tabs").slide({ mainCell:".conWrap", targetCell:".more a", effect:"fold",trigger:"click"});

		/*案例滚动*/
		jQuery(".case_left").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"left",autoPlay:true,vis:4,trigger:"click",scroll:"4"});

		/*新闻多页签*/
		jQuery(".news_tabs").slide({ mainCell:".conWrap", targetCell:".more a", effect:"fold"});
	</script>

	<script>
		if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
			new WOW().init();
		};
	</script>

	<!-- 数字跳动 -->
	<script language="javascript" type="text/javascript" src="/assets/index/js/jquery.waypoints.min.js"></script>
	<script type="text/javascript">
	    $('.index_about .num span,.index_num .num span').countUp({
	        delay: 10,
	        time: 2000
	    });

	</script>
{/block}
