<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>联系我们</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="css/animate.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/css.css"/>
	<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
	<script type="text/javascript" src="js/wow.min.js"></script>
	<meta name="author" content="深圳市深正互联网络有限公司" />
</head>
<body>
	<div class="header">
		<div class="header_nav w1200 clearfix">
			<div class="logo"><img src="images/logo.png"></div>
			<ul id="nav" class="nav">
				<li class="nLi"><a href="index.html">首页</a></li>
				<li class="nLi"><a href="products.html">产品中心</a></li>
				<li class="nLi"><a href="solution.html">解决方案</a></li>
				<li class="nLi"><a href="download.html">资料下载</a></li>
				<li class="nLi"><a href="case.html">精品案例</a></li>
				<li class="nLi"><a href="about.html">关于华新</a></li>
				<li class="nLi"><a href="support.html">技术支持</a></li>
				<li class="nLi"><a href="javascript:;">在线购买</a></li>
			</ul>
			<div class="search_icon">
				<a href="javascript:;"><img src="images/icon01.png"></a>
				<div class="search">
					<input type="text" class="ssk" name="" placeholder="请输入要搜索的内容">
					<input type="submit" class="ss" name="" value="">
				</div>
			</div>
		</div>
	</div>

	<div class="nybanner">
		<p><img src="images/nybanner05.jpg"></p>
	</div>
	
	<div class="main">
		<div class="inside_top w1200">
			<div class="title wow fadeInUp">
				<h2>关于我们<span>ABOUT US</span></h2>
			</div>
			<div class="column wow fadeInUp clearfix">
				<ul>
					<li><a href="about.html">关于我们</a></li>
					<li><a href="honor.html">荣誉资质</a></li>
					<li><a href="news.html">新闻资讯</a></li>
					<li class="cur"><a href="contact.html">联系我们</a></li>
				</ul>
				<div class="bread_crumbs">
					<p>您当前的位置：<a href="index.html">首页</a><span>&gt;</span><a href="about.html">关于我们</a><span>&gt;</span><a href="contact.html">联系我们</a></p>
				</div>
			</div>
		</div>
		<div class="contact w1200 wow fadeInUp">
			<div class="contact_top clearfix">
				<div class="contact_add">
					<p><img src="images/contact01.jpg"></p>
					<h3>地址</h3>
					<p>深圳市龙岗区彩云路1号新中泰文化创业园3栋1号</p>
				</div>
				<div class="contact_add">
					<p><img src="images/contact02.jpg"></p>
					<h3>电话</h3>
					<p>0755-83690286／83690351</p>
				</div>
				<div class="contact_add">
					<p><img src="images/contact03.jpg"></p>
					<h3>传真</h3>
					<p>0755-83690385</p>
				</div>
				<div class="contact_add">
					<p><img src="images/contact04.jpg"></p>
					<h3>邮箱</h3>
					<p>464121542@qq.com</p>
				</div>
			</div>
			<div class="map wow fadeInUp">
				<iframe src="map/map.html"></iframe>
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="w1200">
			<div class="partner wow fadeInUp">
				<h2>合作伙伴</h2>
				<ul class="clearfix">
					<li><a href=""><img src="images/partner01.jpg"></a></li>
					<li><a href=""><img src="images/partner02.jpg"></a></li>
					<li><a href=""><img src="images/partner03.jpg"></a></li>
					<li><a href=""><img src="images/partner04.jpg"></a></li>
					<li><a href=""><img src="images/partner05.jpg"></a></li>
				</ul>
			</div>
			<div class="footer_sort clearfix wow fadeInUp">
				<dl>
					<dt><a href="solution.html">解决方案</a></dt>
					<dd><a href="solution.html">家庭解决方案</a></dd>
					<dd><a href="solution.html">社区解决方案</a></dd>
				</dl>
				<dl>
					<dt><a href="products.html">产品展示</a></dt>
					<dd><a href="products.html">中央空调网关</a></dd>
					<dd><a href="products.html">冷水机组网关</a></dd>
					<dd><a href="products.html">精密空调网关</a></dd>
					<dd><a href="products.html">AI节能控制箱</a></dd>
				</dl>
				<dl>
					<dt><a href="case.html">精品案例</a></dt>
					<dd><a href="case.html">中央网关案例
					<dd><a href="case.html">冷水机组案例</a></dd>
					<dd><a href="case.html">精密网关案例</a></dd>
					<dd><a href="case.html">AI节能控制案例</a></dd>
				</dl>
				<dl>
					<dt><a href="news.html">新闻资讯</a></dt>
					<dd><a href="news.html">公司新闻</a></dd>
					<dd><a href="news.html">行业资讯</a></dd>
				</dl>
				<dl>
					<dt><a href="about.html">关于我们</a></dt>
					<dd><a href="about.html">公司简介</a></dd>
					<dd><a href="honor.html">资质证书</a></dd>
				</dl>
				<dl>
					<dt><a href="contact.html">联系我们</a></dt>
					<dd><a href="contact.html">联系方式</a></dd>
					<dd><a href="message.html">在线留言</a></dd>
				</dl>
				<div class="footer_ewm">
					<h2>产品资讯热线</h2>
					<p>0755-28718529</p>
					<p><img src="images/ewm.jpg"></p>
					<ul class="clearfix">
						<li><a href=""><img src="images/qq.png"></a></li>
						<li>
							<a href="javascript:;"><img src="images/wx.png"></a>
							<div class="wx_ewm"><img src="images/ewm.jpg"></div>
						</li>
						<li><a href=""><img src="images/wb.png"></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer_copyright">
			<p class="wow fadeInUp">© 2019　版权所有　深圳市华新网络能源有限公司　<a href="http://www.miibeian.gov.cn/">备案号：粤ICP8888888</a>　<a href="https://www.szhulian.com/">技术支持</a></p>
		</div>
	</div>
	<!-- 导航 -->
	<script type="text/javascript">
		var ind = 5; //初始位置
		var nav= jQuery(".nav");
		var init = jQuery(".nav .nLi").eq(ind);
		jQuery("#nav").slide({ 
			type:"menu",
			titCell:".nLi", 
			targetCell:".sub", 
			effect:"slideDown",
			delayTime:300 ,
			triggerTime:0, 
			returnDefault:true,
			defaultIndex:ind
		});	
	</script>

	<script>
		if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
			new WOW().init();
		};
	</script>
</body>
</html>