<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>新闻资讯</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="css/animate.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/css.css"/>
	<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
	<script type="text/javascript" src="js/wow.min.js"></script>
	<meta name="author" content="深圳市深正互联网络有限公司" />
</head>
<body>
	<div class="header">
		<div class="header_nav w1200 clearfix">
			<div class="logo"><img src="images/logo.png"></div>
			<ul id="nav" class="nav">
				<li class="nLi"><a href="index.html">首页</a></li>
				<li class="nLi"><a href="products.html">产品中心</a></li>
				<li class="nLi"><a href="solution.html">解决方案</a></li>
				<li class="nLi"><a href="download.html">资料下载</a></li>
				<li class="nLi"><a href="case.html">精品案例</a></li>
				<li class="nLi"><a href="about.html">关于华新</a></li>
				<li class="nLi"><a href="support.html">技术支持</a></li>
				<li class="nLi"><a href="javascript:;">在线购买</a></li>
			</ul>
			<div class="search_icon">
				<a href="javascript:;"><img src="images/icon01.png"></a>
				<div class="search">
					<input type="text" class="ssk" name="" placeholder="请输入要搜索的内容">
					<input type="submit" class="ss" name="" value="">
				</div>
			</div>
		</div>
	</div>

	<div class="nybanner">
		<p><img src="images/nybanner05.jpg"></p>
	</div>
	
	<div class="main">
		<div class="inside_top w1200">
			<div class="title wow fadeInUp">
				<h2>关于我们<span>ABOUT US</span></h2>
			</div>
			<div class="column clearfix wow fadeInUp">
				<ul>
					<li><a href="about.html">关于我们</a></li>
					<li><a href="honor.html">荣誉资质</a></li>
					<li class="cur"><a href="news.html">新闻资讯</a></li>
					<li><a href="contact.html">联系我们</a></li>
				</ul>
				<div class="bread_crumbs">
					<p>您当前的位置：<a href="index.html">首页</a><span>&gt;</span><a href="about.html">关于我们</a><span>&gt;</span><a href="news.html">新闻资讯</a></p>
				</div>
			</div>
		</div>
		<div class="news_det w1200">
			<div class="news_title wow fadeInUp">
				<h2>智能家居市场</h2>
				<p><span>时间：2018-09-29</span><span>来源：互联网</span><span>浏览：61</span></p>
			</div>
			<div class="news_content wow fadeInUp">
				<p>这几年，智能家居行业风起云涌，无论是亚马逊、谷歌、微软、苹果等国外科技大佬，还是百度、阿里、腾讯等国内科技大佬，或者海尔、美的等传统家电巨头，亦或是其他创业公司，都在相关领域上招兵买马，目的就是占领智能家居的市场。虽说当前没有出现一家独大，统领江湖的现象，但毫无疑问，各家都在为争夺这个统治权而努力着。</p>
				<p><br /></p>
				<p style="text-align: center;"><img src="images/news_det01.jpg"></p>
				<p><br /></p>
				<p>然而理想很丰满，现实却比较骨感，现在的智能家居市场现状颇让人尴尬。目前市面上，有非常多的厂家打着“智能家居”的旗号招摇撞骗。这些所谓的“智能家居”以更廉价的技术、更低的价格，收获了更高的收益。被他们“忽悠”的小白用户，在实际应用中发现这些厂家鼓吹的智能家居并不实用，这就对尚处于培育阶段的智能家居市场造成了十分消极的影响。所以，许多人一听到“智能家居”，头脑里首先冒出这样的认知，“不就是一个用手机APP控制的开关（插座、指纹锁）吗？跟传统开关有什么区别？”</p>
				<p><br /></p>
				<p style="text-align: center;"><img src="images/news_det02.jpg"></p>
				<p><br /></p>
				<p>一些滥竽充数的产品，没有互联网基因，没有颠覆性的技术，自然不会激发人们对智能家居的使用需求，也就阻碍了人们对智能家居的更深一步认知。比如，现在市面上的当红炸子鸡“智能音箱”，相比较那些伪智能家居就显得高大上得多了。智能音箱具备语音交互，可提供内容服务、互联网服务，以及场景化智能家居的控制能力。与传统音箱相比，智能音箱是一种软硬件结合的产品，其核心功能已不再局限于音乐播放，内容服务及O2O服务，以及对智能家居的控制成为衡量产品价值的重要指标。当然，对于智能音箱在国内市场，首先要解决的就是优化语音技术，不仅要“听得到”，还要能“听得好”。</p>
			</div>
			<div class="bdsharebuttonbox">
				<a href="#" class="bds_more" data-cmd="more"></a>
				<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
				<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
				<a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
				<a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
				<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
			</div>			
			<div class="page_turning clearfix wow fadeInUp">
				<div class="page_left">
					<p><a href="news_det.html">上一篇：2018年后显示技术的五大发展趋势</a></p>
					<p><a href="news_det.html">下一篇：首届中国医院能力建设与发展大会在京召开</a></p>
				</div>
				<div class="return_index"><a href="javascript:history.back(-1);">返回列表</a></div>
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="w1200">
			<div class="partner wow fadeInUp">
				<h2>合作伙伴</h2>
				<ul class="clearfix">
					<li><a href=""><img src="images/partner01.jpg"></a></li>
					<li><a href=""><img src="images/partner02.jpg"></a></li>
					<li><a href=""><img src="images/partner03.jpg"></a></li>
					<li><a href=""><img src="images/partner04.jpg"></a></li>
					<li><a href=""><img src="images/partner05.jpg"></a></li>
				</ul>
			</div>
			<div class="footer_sort clearfix wow fadeInUp">
				<dl>
					<dt><a href="solution.html">解决方案</a></dt>
					<dd><a href="solution.html">家庭解决方案</a></dd>
					<dd><a href="solution.html">社区解决方案</a></dd>
				</dl>
				<dl>
					<dt><a href="products.html">产品展示</a></dt>
					<dd><a href="products.html">中央空调网关</a></dd>
					<dd><a href="products.html">冷水机组网关</a></dd>
					<dd><a href="products.html">精密空调网关</a></dd>
					<dd><a href="products.html">AI节能控制箱</a></dd>
				</dl>
				<dl>
					<dt><a href="case.html">精品案例</a></dt>
					<dd><a href="case.html">中央网关案例
					<dd><a href="case.html">冷水机组案例</a></dd>
					<dd><a href="case.html">精密网关案例</a></dd>
					<dd><a href="case.html">AI节能控制案例</a></dd>
				</dl>
				<dl>
					<dt><a href="news.html">新闻资讯</a></dt>
					<dd><a href="news.html">公司新闻</a></dd>
					<dd><a href="news.html">行业资讯</a></dd>
				</dl>
				<dl>
					<dt><a href="about.html">关于我们</a></dt>
					<dd><a href="about.html">公司简介</a></dd>
					<dd><a href="honor.html">资质证书</a></dd>
				</dl>
				<dl>
					<dt><a href="contact.html">联系我们</a></dt>
					<dd><a href="contact.html">联系方式</a></dd>
					<dd><a href="message.html">在线留言</a></dd>
				</dl>
				<div class="footer_ewm">
					<h2>产品资讯热线</h2>
					<p>0755-28718529</p>
					<p><img src="images/ewm.jpg"></p>
					<ul class="clearfix">
						<li><a href=""><img src="images/qq.png"></a></li>
						<li>
							<a href="javascript:;"><img src="images/wx.png"></a>
							<div class="wx_ewm"><img src="images/ewm.jpg"></div>
						</li>
						<li><a href=""><img src="images/wb.png"></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer_copyright">
			<p class="wow fadeInUp">© 2019　版权所有　深圳市华新网络能源有限公司　<a href="http://www.miibeian.gov.cn/">备案号：粤ICP8888888</a>　<a href="https://www.szhulian.com/">技术支持</a></p>
		</div>
	</div>

	<!-- 导航 -->
	<script type="text/javascript">
		var ind = 5; //初始位置
		var nav= jQuery(".nav");
		var init = jQuery(".nav .nLi").eq(ind);
		jQuery("#nav").slide({ 
			type:"menu",
			titCell:".nLi", 
			targetCell:".sub", 
			effect:"slideDown",
			delayTime:300 ,
			triggerTime:0, 
			returnDefault:true,
			defaultIndex:ind
		});	
	</script>

	<script>
		if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
			new WOW().init();
		};
		$("p img").parent("p").css("text-indent","0em");
	</script>
</body>
</html>