{extend name="base" /}
<!--高亮选中效果-->
{block name="current_index"}menu,menu/index{/block}

{block name="content"}

    <div class="box box-primary">
        <div class="box-header with-border">
            <!--<h3 class="box-title">Quick Example</h3>-->
            <button type="button" onclick="$.common.submitForm()" class="btn  btn-info">保存</button>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
            <div class="box-body">
                <form id="form" action="" class="form-horizontal">
                    <input type="hidden" name="id" value="{$model['id']}"/>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">请选择栏目</label>
                        <div class="col-sm-10">
                            <select name="pid" class="form-control">
                                <option value="0">顶级栏目</option>
                                {volist name="nav" id="vo"}
                                    <option value="{$vo['id']}"  {:$model['pid']==$vo['id']?'selected':''} >{$vo['name']}</option>
                                    {volist name="vo['link_child']" id="child"}
                                    <option value="{$child['id']}"  {:$model['pid']==$child['id']?'selected':''} >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$child['name']}</option>
                                    {/volist}
                                {/volist}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="名称" name="name" value="{$model['name']}" maxlength="20">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">英文</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="英文" name="en" value="{$model['en']}" maxlength="20">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">跳转地址</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="路由" name="url" value="{$model['url']}" maxlength="20">
                            <span class="help-block text-red">跳转地址 如跳转其它网站 如百度输入:  http://www.baidu.com</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">pc背景图</label>
                        <div class="col-sm-10">
                            <input type="hidden" name="img" value="{$model['img']}" />
                            <button type="button" class="layui-btn upload-img" lay-data="{ url: '{:url('upload/upload',['type'=>'menu'])}', accept: 'images'}">
                                <i class="layui-icon">&#xe67c;</i>pc背景图
                            </button>
                            <img width="80" height="80" src="{$model['img']}" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">h5背景图</label>
                        <div class="col-sm-10">
                            <input type="hidden" name="h5_img" value="{$model['h5_img']}" />
                            <button type="button" class="layui-btn upload-img" lay-data="{ url: '{:url('upload/upload',['type'=>'menu'])}', accept: 'images'}">
                                <i class="layui-icon">&#xe67c;</i>h5背景图
                            </button>
                            <img width="80" height="80" src="{$model['h5_img']}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">小图标</label>
                        <div class="col-sm-10">
                            <input type="hidden" name="icon" value="{$model['icon']}" />
                            <button type="button" class="layui-btn upload-img" lay-data="{ url: '{:url('upload/upload',['type'=>'menu'])}', accept: 'images'}">
                                <i class="layui-icon">&#xe67c;</i>小图标
                            </button>
                            <img width="80" height="80" src="{$model['icon']}" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">小图标选中效果</label>
                        <div class="col-sm-10">
                            <input type="hidden" name="icon2" value="{$model['icon2']}" />
                            <button type="button" class="layui-btn upload-img" lay-data="{ url: '{:url('upload/upload',['type'=>'menu'])}', accept: 'images'}">
                                <i class="layui-icon">&#xe67c;</i>小图标选中效果
                            </button>
                            <img width="80" height="80" src="{$model['icon2']}" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">模版</label>
                        <div class="col-sm-10">

                            <label>
                                <input type="radio" name="label" value="0" {:empty($model['label'])?'checked':''}/>
                                其它栏目
                            </label>
                            <label>
                                <input type="radio" name="label" value="1" {:$model['label']==1?'checked':''}/>
                                文章栏目
                            </label>
                            <label>
                                <input type="radio" name="label" value="2"  {:$model['label']==2?'checked':''}/>
                                产品栏目
                            </label>
                            <label>
                                <input type="radio" name="label" value="3"  {:$model['label']==3?'checked':''}/>
                                案例栏目
                            </label>
                            <label>
                                <input type="radio" name="label" value="4"  {:$model['label']==4?'checked':''}/>
                                方案栏目
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">排序</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" placeholder="排序" name="sort" value="{:empty($model['sort'])?100:$model['sort']}" >
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">状态</label>
                        <div class="col-sm-10">
                            <label>
                                <input type="radio" name="status" value="1" {:$model['status']!=2?'checked':''} />
                                正常
                            </label>
                            <label>
                                <input type="radio" name="status" value="2" {:$model['status']==2?'checked':''}>
                                关闭
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">是否底部显示</label>
                        <div class="col-sm-10">
                            <label>
                                <input type="radio" name="bottom" value="1" {:$model['bottom']!=2?'checked':''} />
                                显示
                            </label>
                            <label>
                                <input type="radio" name="bottom" value="2" {:$model['bottom']==2?'checked':''}>
                                关闭
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">栏目描述</label>
                        <div class="col-sm-10">
                            <textarea name="desc"  rows="5" class="form-control">{$model['desc']}</textarea>
                        </div>
                    </div>

                    <!--<div class="form-group">-->
                        <!--<label class="col-sm-2 control-label">meta_key</label>-->
                        <!--<div class="col-sm-10">-->
                            <!--<textarea name="meta_key"  rows="5" class="form-control">{$model['meta_key']}</textarea>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="form-group">-->
                        <!--<label class="col-sm-2 control-label">meta_desc</label>-->
                        <!--<div class="col-sm-10">-->
                            <!--<textarea name="meta_desc"  rows="5" class="form-control">{$model['meta_desc']}</textarea>-->
                        <!--</div>-->
                    <!--</div>-->

                    <div class="form-group">
                        <label class="col-sm-2 control-label">详细内容</label>
                        <div class="col-sm-10">
                            <!-- 加载编辑器的容器 -->
                            <script id="container" name="content" type="text/plain">{:htmlspecialchars_decode($model['content'])}</script>
                        </div>
                    </div>

                </form>

            </div>
            <!-- /.box-body -->

        <div class="box-footer">

        </div>
    </div>

{/block}


{block name="script"}
<!-- 配置文件 -->
<script type="text/javascript" src="/assets/ueditor1_4_3_3/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/assets/ueditor1_4_3_3/ueditor.all.js"></script>

<script>
    var ue = UE.getEditor('container');
    //引用上传组件
    layui.use(['upload'],function(){
        var upload = layui.upload;
        $.common.fileUpload(upload,'.upload-img')
    })
</script>
{/block}