{extend name="base" /}
{block name="content"}

{:widget('Component/header',['act_menu'=>'article/cases'])}
    
    <div class="nybanner">
        <p><img src="{$cate['h5_img']}"></p>
    </div>
    
    <div class="main">
        <div class="inside_title">
            <h2>精品案例</h2>
            <p>CASE</p>
        </div>
        <div class="inside_sort">
            <select onchange="changePage(this)">
                {volist name="cate['link_child']" id='vo'}
                <option  value="{$vo['id']}" {:$vo['id']==$current_cate['id']?'selected':''}>{$vo['name']}</option>
                {/volist}
            </select>
        </div>
        <div class="case">
            <ul class="clearfix">
                {volist name="list" id="vo"}
                <li class="wow fadeInUp">
                    <a href="{:url('casesDetail',['id'=>$vo['id']])}">
                        <div class="img"><img src="{$vo['img']}"></div>
                        <div class="title">{$vo['title']}</div>
                    </a>
                </li>
                {/volist}
            </ul>
            <!--分页-->
            {$page|raw}
        </div>
    </div>

    <div class="footer wrap">
       <p>Copyright © 2019　版权所有　深圳市华新网络能源有限公司 All Rights Reserved 　<a href="http://www.miibeian.gov.cn/">备案号：粤ICP8888888</a></p>
    </div>

{:widget('Component/footer')}
{/block}

{block name="script"}
<script>
    function changePage(obj){
        location.href="{:url('article/cases')}?cid="+$(obj).val()
    }
</script>
{/block}