<div class="footer">
    <div class="w1200">
        <div class="partner">
            <h2>合作伙伴</h2>
            <ul class="clearfix">
                <li><a href=""><img src="images/partner01.jpg"></a></li>
                <li><a href=""><img src="images/partner02.jpg"></a></li>
                <li><a href=""><img src="images/partner03.jpg"></a></li>
                <li><a href=""><img src="images/partner04.jpg"></a></li>
                <li><a href=""><img src="images/partner05.jpg"></a></li>
            </ul>
        </div>
        <div class="footer_sort clearfix">
            <dl>
                <dt><a href="solution.html">解决方案</a></dt>
                <dd><a href="solution.html">家庭解决方案</a></dd>
                <dd><a href="solution.html">社区解决方案</a></dd>
            </dl>
            <dl>
                <dt><a href="products.html">产品展示</a></dt>
                <dd><a href="products.html">中央空调网关</a></dd>
                <dd><a href="products.html">冷水机组网关</a></dd>
                <dd><a href="products.html">精密空调网关</a></dd>
                <dd><a href="products.html">AI节能控制箱</a></dd>
            </dl>
            <dl>
                <dt><a href="case.html">精品案例</a></dt>
                <dd><a href="case.html">中央网关案例
                <dd><a href="case.html">冷水机组案例</a></dd>
                <dd><a href="case.html">精密网关案例</a></dd>
                <dd><a href="case.html">AI节能控制案例</a></dd>
            </dl>
            <dl>
                <dt><a href="news.html">新闻资讯</a></dt>
                <dd><a href="news.html">公司新闻</a></dd>
                <dd><a href="news.html">行业资讯</a></dd>
            </dl>
            <dl>
                <dt><a href="about.html">关于我们</a></dt>
                <dd><a href="about.html">公司简介</a></dd>
                <dd><a href="honor.html">资质证书</a></dd>
            </dl>
            <dl>
                <dt><a href="contact.html">联系我们</a></dt>
                <dd><a href="contact.html">联系方式</a></dd>
                <dd><a href="message.html">在线留言</a></dd>
            </dl>
            <div class="footer_ewm">
                <h2>产品资讯热线</h2>
                <p>0755-28718529</p>
                <p><img src="images/ewm.jpg"></p>
                <ul class="clearfix">
                    <li><a href=""><img src="images/qq.png"></a></li>
                    <li>
                        <a href="javascript:;"><img src="images/wx.png"></a>
                        <div class="wx_ewm"><img src="images/ewm.jpg"></div>
                    </li>
                    <li><a href=""><img src="images/wb.png"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer_copyright">
        <p>© 2019　版权所有　深圳市华新网络能源有限公司　<a href="http://www.miibeian.gov.cn/">备案号：粤ICP8888888</a>　<a href="https://www.szhulian.com/">技术支持</a></p>
    </div>
</div>